* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: aquamarine;
    padding: 20px;
    border: 1px solid black;
}

.container {
    display: flex;
    gap: 30px;
}

h1 {
    color: red;
}

@media only screen and (min-width: 600px) {
   .container {
    display: flex;
    gap: 30px;
    flex-direction: column;
   }

   .box:nth-child(3){
    display: none;
   }
}